.confirm-container {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    padding: 20px;
    z-index: 10;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: opacity 0.15s ease;
}

.confirm-container h4 {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    font-size: x-large;
}

.confirm-container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm-container .buttons .confirm-cancel-btn,
.logout-btn {
    flex: 1;
}

.confirm-container .buttons .confirm-cancel-btn {
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
    transition: all 200ms;
}

.confirm-container .buttons .confirm-cancel-btn:hover {
    background-color: rgb(172, 172, 172);
}

.confirm-container .buttons .confirm-cancel-btn:active {
    transform: translateY(1px);
}

.edit-container {
    opacity: 0;
    position: fixed;
    min-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bookingcontainer-clr);
    z-index: 9;
    border-radius: 10px;
    transition: opacity 0.15s ease;
    pointer-events: none;
    overflow: hidden;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.edit-container h4 {
    color: white;
    margin: 15px;
    margin-bottom: 15px;
    font-size: x-large;
}

.edit-container .title {
    margin: 0px;
    margin-bottom: 15px;
    color: black;
    font-size: medium;
}

.edit-container .time-container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: 15%;
    margin: 15px;
    overflow: hidden;
}

.edit-container .time-container .selection-container {
    height: 70%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    color: white;
}

.edit-container .promo-code-container {
    background-color: white;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.edit-container .promo-code-container .promo-input {
    width: 75%;
    max-width: 300px;
    margin-top: 1px;
}

.edit-container .summary-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.edit-container .summary-container .payment-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: black;
}

.edit-container .summary-container .payment-detail {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    overflow: hidden;
}

.edit-container .summary-container .payment-total {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
    font-size: large;
    font-weight: bold;
    overflow: hidden;
}

.edit-container .btn-container {
    display: flex;
    margin: 15px;
    margin-bottom: 5px;
}

.edit-container .logout-btn {
    flex: 1;
    text-transform: uppercase;
}

.edit-container .click-btn {
    flex: 1;
    font-size: large;
}

.edit-container .click-btn:hover {
    letter-spacing: 3px;
    background-color: rgb(216, 216, 24);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(161, 161, 15) 0px 2px 5px 0px;
}

.container .left {
    flex: 1;
    background-color: var(--calendarbackground-clr);
    padding: 10px;
    margin: 20px;
    position: relative;
    /* Ensure the position is relative */
    border-radius: 10px;
    height: auto;
    min-height: 370px;
}

h2 {
    margin: 20px;
    font-size: xx-large;
}

.left h2 {
    color: var(--text-clr);
}

.right h2 {
    margin: 20px;
    font-size: xx-large;
    color: white;
}

.left:after {
    content: "";
    background-color: var(--calendarbackground3-clr);
    position: absolute;
    /* Set the position */
    left: 15px;
    width: 100%;
    height: 100%;
    top: 10px;
    /* Specify top position to align with the top of .left */
    z-index: -1;
    border-radius: 10px;
}

.left .bookings {
    padding: 10px;
    margin-top: 15px;
    flex-direction: column;
    color: black;
}

.right {
    flex: 1;
    margin: 20px;
    padding: 15px;
    background-color: var(--primary-clr);
    border-radius: 10px;
    height: auto;
    min-height: 370px;
    ;
}

.right .details-container {
    background-color: white;
    margin: 20px;
    padding: 20px;
    color: var(--text-clr);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.right .details-container .detail {
    margin: 10px;
    font-size: large;
}

.right .details-container .title {
    font-weight: 800;
}

.right .btn-container {
    display: flex;
}

.right .btn-container .logout-btn {
    flex: 1;
}

.right .btn-container .click-btn {
    flex: 1;
}