.information-bar {
    position: fixed;
    top: 75px;
    right: 20px;
    padding: 0px;
    width: 250px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--barbackground-clr);
    color: #fff;
    transition: max-height 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
    /* Smooth transition for height and opacity */
    z-index: 2;
    border-radius: 10px;
}

.information-bar .information-bar-title {
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid var(--primary-clr);
}

.information-bar ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.information-bar ul li {
    display: block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 300ms;
}

/*change color when hover onto it*/
.information-bar ul li:hover {
    background-color: rgb(85, 51, 80);
    transition: background-color 100ms;
}

/*animation when clicking(<li> part)*/
.information-bar ul li:active {
    background-color: rgb(129, 93, 124);
    transition: background-color 100ms;
}

/*animation when clicking(<a> part)*/
.information-bar ul li:active a {
    color: #3a3a3a;
    transition: 100ms;
}