.information-container {
    position: fixed;
    top: 65px;
    right: 20px;
    padding: 0px;
    width: 250px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--topbarbackground-clr);
    color: #fff;
    transition: max-height 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
    /* Smooth transition for height and opacity */
    z-index: 10;
    border-radius: 10px;
}

.information-container .information-container-title {
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid var(--topbartext-clr);
}

.information-container ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.information-container ul li {
    display: block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 300ms;
}

/*change color when hover onto it*/
.information-container ul li:hover {
    background-color: var(--topbarbackgroundhover-clr);
    transition: background-color 100ms;
}

/*animation when clicking(<li> part)*/
.information-container ul li:active {
    background-color: var(--topbarbackgroundactive-clr);
    transition: background-color 100ms;
}

/*animation when clicking(<a> part)*/
.information-container ul a li:active {
    color: #3a3a3a;
    transition: 100ms;
}