.payment {
    display: flex;
    flex-direction: column;
    /* Align items in a column */
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.payment label {
    margin: 5px;
}

.payment .instruction {
    font-weight: bold;
    font-size: large;
    color: rgb(255, 0, 0);
}

.payment .QRimg {
    display: flex;
    max-width: 30vh;
    width: 100%;
}

.payment .cancel-btn {
    padding: 5px 10px;
}