.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    /* Initially hide the sidebar off-screen */
    width: 250px;
    height: 100%;
    background-color: #3a3a3a;
    color: #fff;
    padding: 0px;
    transition: 0.3s ease;
    z-index: 2;
    /* Smooth transition when opening/closing */
}

.sidebar .content {
    margin-left: 0;
    /* Ensure content starts after sidebar */
    transition: margin-left 0.3s ease;
    /* Smooth transition when opening/closing */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}

.sidebar ul li {
    display: block;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 300ms;
}

/*change color when hover onto it*/
.sidebar ul li:hover {
    background-color: #646464;
    transition: 100ms;
}

/*animation when clicking(<li> part)*/
.sidebar ul li:active {
    background-color: #919191;
    transition: background-color 100ms;
}

/*animation when clicking(<a> part)*/
.sidebar ul li:active a {
    color: #3a3a3a;
    transition: 100ms;
}

/*topbar style*/
.sidebar .sidebartopbar {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid rgb(193, 163, 98);
}

.sidebar .sidebartitle {
    color: #ffffff;
    margin: 0;
    margin-left: 10px;
    text-align: center;
}