.container .left {
    flex: 1;
}

.container .right {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-clr);
    padding: 0px;
    flex: 1;
    min-height: 85%;
    /* Adjust as needed */
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    position: relative;
    /* Add this to make the child element's height relative to this container */
}

.container .right .events {
    display: flex;
    /* Use flexbox to control the layout */
    flex-direction: column;
    color: var(--text-clr);
    background-color: var(--calendarbackground-clr);
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    margin-right: 5px;
    ;
    height: 80vh;
    width: 95%;
    /* Make the height of the events container 100% of its parent container */
}

.container .right .events .events-container {
    flex: 1;
    /* Fill the remaining space */
    overflow-y: auto;
}

.container .right .events h2 {
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
}

.booking-container {
    position: absolute;
    padding: 10px;
    right: 15px;
    /* Initially hide the sidebar off-screen */
    width: 0%;
    height: 80vh;
    background-color: var(--bookingcontainer-clr);
    border-radius: 10px;
    overflow-x: hidden;
    transition: width 500ms ease-in-out;
    text-wrap: nowrap;
    z-index: 2;
    /* Smooth transition when opening/closing */
}

.booking-container .title {
    padding: 0px;
    margin: 5px;
    width: 200px;
    color: var(--text-clr);
    display: flex;
    flex-direction: column;
}

.booking-container .time-container {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    height: 15%;
    overflow: hidden;
}

.booking-container .time-container .selection-container {
    height: 70%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
}

.booking-container .promo-code-container {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.booking-container .promo-code-container .promo-input {
    width: 75%;
}

.booking-container .summary-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.booking-container .summary-container .payment-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: black;
}

.booking-container .summary-container .payment-detail {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    overflow: hidden;
}

.booking-container .summary-container .payment-total {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
    font-size: large;
    font-weight: bold;
    overflow: hidden;
}

.booking-container .book-btn {
    position: absolute;
    bottom: 10px;
    left: calc(100% - 180px);
}

@media (max-width: 800px) {
    .container .right {
        display: none;
    }
}